<!DOCTYPE html>
<html ng-app='GoalPosts'>

<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <link href="https://stackpath.bootstrapcdn.com/bootswatch/4.1.0/darkly/bootstrap.min.css" rel="stylesheet" integrity="sha384-J01jr7rrJqxij+hUE1E+8N35mlD7L/TMrAO7tOarwMP7AWJM3P/lGXOjt0KLNhtE"
    crossorigin="anonymous">
  <link rel="stylesheet" href="./styles.css">
  <title>GoalPosts</title>
</head>

<body data-gr-c-s-loaded="true">
  <nav class="navbar navbar-expand-lg fixed-top navbar-dark bg-primary">
    <div class="container">
      <a class="navbar-brand" href="#/" style="font-size: 40px;">GoalPosts</a>


      <ul class="navbar-nav">
        <li class="nav-item active">
          <a class="nav-link" href="#/" style="font-size: 25px;">All Goals</a>
        </li>
      </ul>
      <ul class="nav navbar-nav ml-auto">
        <div ng-controller="AuthController">
          <div ng-if="!auth()">
            <li class="nav-item">
              <a class="nav-link" href="#/signin" style="font-size: 20px;">Login</a>
            </li>
          </div>
          <li class="nav-item">
            <div ng-if="auth()">
              <div ng-click="signout()">
                <a class="nav-link" style="font-size: 20px;">Logout</a>
              </div>
            </div>
          </li>
        </div>
      </ul>
    </div>
  </nav>

  <div ng-view></div>

  <script src="/scripts/angular/angular.js"></script>
  <script src="/scripts/angular-route/angular-route.js"></script>

  <!-- TODO: ADD DEPENDENCY SCRIPT TAGS -->
  <script src="./controllers/auth-controller.js"></script>
  <script src="./controllers/detail-controller.js"></script>
  <script src="./controllers/goal-form-controller.js"></script>
  <script src="./controllers/goals-controller.js"></script>
  <script src="./app.js"></script>
  <script src="./services/auth-service.js"></script>
  <script src="./services/goals-service.js"></script>

</body>

</html>